@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);
  --background: 210 20% 98%;
  --foreground: 222 47% 11%;
  --border: 214 20% 91%;
  --card: 210 17% 96%;
  --card-foreground: 222 47% 11%;
  --card-border: 214 17% 93%;
  --sidebar: 210 16% 93%;
  --sidebar-foreground: 222 47% 11%;
  --sidebar-border: 214 16% 88%;
  --sidebar-primary: 217 91% 60%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 210 14% 89%;
  --sidebar-accent-foreground: 222 47% 11%;
  --sidebar-ring: 217 91% 60%;
  --popover: 210 15% 94%;
  --popover-foreground: 222 47% 11%;
  --popover-border: 214 15% 90%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 13% 87%;
  --secondary-foreground: 222 47% 11%;
  --muted: 210 12% 91%;
  --muted-foreground: 215 16% 47%;
  --accent: 210 14% 90%;
  --accent-foreground: 222 47% 11%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --input: 214 20% 85%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 60%;
  --chart-2: 142 76% 36%;
  --chart-3: 262 83% 58%;
  --chart-4: 24 95% 53%;
  --chart-5: 340 82% 52%;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, Monaco, monospace;
  --radius: .5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(217 91% 60% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(217 91% 60% / 0.08);
  --shadow-sm: 0px 2px 4px 0px hsl(217 91% 60% / 0.06), 0px 1px 2px -1px hsl(217 91% 60% / 0.04);
  --shadow: 0px 4px 6px 0px hsl(217 91% 60% / 0.07), 0px 2px 4px -1px hsl(217 91% 60% / 0.05);
  --shadow-md: 0px 6px 12px 0px hsl(217 91% 60% / 0.08), 0px 2px 4px -1px hsl(217 91% 60% / 0.04);
  --shadow-lg: 0px 10px 20px 0px hsl(217 91% 60% / 0.10), 0px 4px 6px -1px hsl(217 91% 60% / 0.05);
  --shadow-xl: 0px 20px 30px 0px hsl(217 91% 60% / 0.12), 0px 8px 10px -1px hsl(217 91% 60% / 0.06);
  --shadow-2xl: 0px 25px 50px 0px hsl(217 91% 60% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

/* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);
  --background: 222 47% 11%;
  --foreground: 210 20% 98%;
  --border: 215 25% 20%;
  --card: 220 39% 13%;
  --card-foreground: 210 20% 98%;
  --card-border: 215 33% 16%;
  --sidebar: 220 35% 15%;
  --sidebar-foreground: 210 20% 98%;
  --sidebar-border: 215 30% 19%;
  --sidebar-primary: 217 91% 60%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 220 28% 19%;
  --sidebar-accent-foreground: 210 20% 98%;
  --sidebar-ring: 217 91% 60%;
  --popover: 220 32% 17%;
  --popover-foreground: 210 20% 98%;
  --popover-border: 215 28% 21%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --secondary: 220 26% 21%;
  --secondary-foreground: 210 20% 98%;
  --muted: 220 24% 20%;
  --muted-foreground: 217 20% 75%;
  --accent: 220 25% 19%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --input: 215 25% 27%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 75%;
  --chart-2: 142 76% 65%;
  --chart-3: 262 83% 73%;
  --chart-4: 24 95% 68%;
  --chart-5: 340 82% 67%;
  --shadow-2xs: 0px 1px 2px 0px hsl(217 91% 60% / 0.00);
  --shadow-xs: 0px 1px 3px 0px hsl(217 91% 60% / 0.00);
  --shadow-sm: 0px 2px 4px 0px hsl(217 91% 60% / 0.00), 0px 1px 2px -1px hsl(217 91% 60% / 0.00);
  --shadow: 0px 4px 6px 0px hsl(217 91% 60% / 0.00), 0px 2px 4px -1px hsl(217 91% 60% / 0.00);
  --shadow-md: 0px 6px 12px 0px hsl(217 91% 60% / 0.00), 0px 2px 4px -1px hsl(217 91% 60% / 0.00);
  --shadow-lg: 0px 10px 20px 0px hsl(217 91% 60% / 0.00), 0px 4px 6px -1px hsl(217 91% 60% / 0.00);
  --shadow-xl: 0px 20px 30px 0px hsl(217 91% 60% / 0.00), 0px 8px 10px -1px hsl(217 91% 60% / 0.00);
  --shadow-2xl: 0px 25px 50px 0px hsl(217 91% 60% / 0.00);

/* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  .theme {
    --font-sans: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --font-serif: DM Sans, sans-serif;
    --radius: 1rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  :root {
    --background: oklch(0.9789 0.0082 121.6272);
    --foreground: oklch(0 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5106 0.2301 276.9656);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7038 0.1230 182.5025);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.3211 0 0);
    --accent: oklch(0.7686 0.1647 70.0804);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0.5555 0 0);
    --ring: oklch(0.7853 0.1041 274.7134);
    --chart-1: oklch(0.5106 0.2301 276.9656);
    --chart-2: oklch(0.7038 0.1230 182.5025);
    --chart-3: oklch(0.7686 0.1647 70.0804);
    --chart-4: oklch(0.6559 0.2118 354.3084);
    --chart-5: oklch(0.7227 0.1920 149.5793);
    --radius: 1rem;
    --sidebar: oklch(0.9789 0.0082 121.6272);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.5106 0.2301 276.9656);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7686 0.1647 70.0804);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.7853 0.1041 274.7134);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --shadow-color: #1a1a1a;
    --shadow-opacity: 0.05;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0px;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
    --tracking-normal: normal;
  }
  .dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.2455 0.0217 257.2823);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.2455 0.0217 257.2823);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.6801 0.1583 276.9349);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.7845 0.1325 181.9120);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.3211 0 0);
    --muted-foreground: oklch(0.8452 0 0);
    --accent: oklch(0.8790 0.1534 91.6054);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.7106 0.1661 22.2162);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.4459 0 0);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.6801 0.1583 276.9349);
    --chart-1: oklch(0.6801 0.1583 276.9349);
    --chart-2: oklch(0.7845 0.1325 181.9120);
    --chart-3: oklch(0.8790 0.1534 91.6054);
    --chart-4: oklch(0.7253 0.1752 349.7607);
    --chart-5: oklch(0.8003 0.1821 151.7110);
    --radius: 1rem;
    --sidebar: oklch(0 0 0);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.6801 0.1583 276.9349);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.8790 0.1534 91.6054);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(1.0000 0 0);
    --sidebar-ring: oklch(0.6801 0.1583 276.9349);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --shadow-color: #1a1a1a;
    --shadow-opacity: 0.05;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 0px;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
  }
}

/**
 * Using the elevate system.
 * Automatic contrast adjustment.
 *
 * <element className="hover-elevate" />
 * <element className="active-elevate-2" />
 *
 * // Using the tailwind utility when a data attribute is "on"
 * <element className="toggle-elevate data-[state=on]:toggle-elevated" />
 * // Or manually controlling the toggle state
 * <element className="toggle-elevate toggle-elevated" />
 *
 * Elevation systems have to handle many states.
 * - not-hovered, vs. hovered vs. active  (three mutually exclusive states)
 * - toggled or not
 * - focused or not (this is not handled with these utilities)
 *
 * Even without handling focused or not, this is six possible combinations that
 * need to be distinguished from eachother visually.
 */
@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  /* .no-default-hover-elevate/no-default-active-elevate is an escape hatch so consumers of
   * buttons/badges can remove the automatic brightness adjustment on interactions
   * and program their own. */
  .no-default-hover-elevate {}

  .no-default-active-elevate {}

  /**
   * Toggleable backgrounds go behind the content. Hoverable/active goes on top.
   * This way they can stack/compound. Both will overlap the parent's borders!
   * So borders will be automatically adjusted both on toggle, and hover/active,
   * and they will be compounded.
   */
  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: -1;
    /* sits behind content but above backdrop */
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.toggle-elevate::before {
    inset: -1px;
  }

  /* Does not work on elements with overflow:hidden! */
  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: 999;
    /* sits in front of content */
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}